<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>

        <!-- Sterownik -->
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>

        <!-- Połączenie z bazą -->
        <property name="hibernate.connection.url">
            jdbc:mysql://localhost:3306/ticket_app?serverTimezone=UTC
        </property>
        <property name="hibernate.connection.username">app_user</property>
        <property name="hibernate.connection.password">app_password</property>

        <!-- Hibernate -->
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.hbm2ddl.auto">create-drop</property>

        <!-- Mapowania encji -->
        <mapping class="mate.academy.hibernate.relations.model.Actor"/>
        <mapping class="mate.academy.hibernate.relations.model.Country"/>
        <mapping class="mate.academy.hibernate.relations.model.Movie"/>

    </session-factory>
</hibernate-configuration>
